<h1>Portfolio Items </h1>
<table>
  <thead>
      <tr>
        <th>Title</th>
        <th>Subtitle</th>
        <th>Body</th>
        <th >Thumb Image</th>
        <th colspan ="2">Action</th>
      </tr>
  </thead>
  <tbody>
      <% @portfolio_items.each do |item| %>
      <tr>
        <td><%= link_to item.title, portfolio_show_path(item)%></td>
        <td><%= item.subtitle%></td>
        <td><%= item.body%></td>
        <td><%= image_tag item.thumb_image unless item.thumb_image.nil?%></td>

        <td><%= link_to "Edit", edit_portfolio_path(item)%></td>
        <td><%= link_to "Destroy", item, method: :delete,data: { confirm: 'Are you sure?' }%></td>
      <% end %>
    </tr>
  </tbody>
</table>
<%= link_to "Create New Portfolio", new_portfolio_path %>
